[2014-09-18 02:15] hoell opened #1 "Signing the assembly in 1.7.3.1 causes LOTS of incompatibility issues"
Signing the assembly in 1.7.3.1 causes LOTS of incompatibility issues because it is impossible to use assembly binding redirects (due to the public key token) while other projects that use GeoAPI out there catch up. What's the point of adding the signature anyway?

[2014-09-18 06:59] #1 closed, assigned to nobody

[2014-10-12 21:27] jsboige opened #2 "GetLoadableTypes should not throw exceptions"
Method GeometryServiceProvider.GetLoadableTypes can crash with exceptions distinct from the 3  types currently accounted for (I had at least 2 distinct uncaught exceptions with a complex bin directory).
There should be a general untyped exception catch, on top of the 3 typed catches, to account for such unplanned conditions, since that method should not really ever crash.

[2014-10-15 07:03] #2 closed, assigned to DGuidi

[2014-11-26 08:18] AsgerPetersen opened #3 "No license file"
I can't find any licensing information in this repository.

Probably it is still LGPL as previously stated at the old CodePlex site (https://geoapi.codeplex.com/license), but it would be nice to be explicit about it on GitHub also.

Thank you from a long time user :-)

[2014-11-26 14:01] #3 closed, assigned to DGuidi

[2014-11-26 14:14] AsgerPetersen opened #4 "Envelope class does not accept ICoordinates as method params"
With coordinates from a third party library implementing GeoAPI

[code]

Shouldn't i be able to do this

[code]

At the moment I have to do either this

[code]

Or this

[code]

Or use the deprecated IEnvelope interface which of course gives me deprecation warnings.

[2014-11-26 14:39] #4 closed, assigned to DGuidi

[2015-01-27 13:19] Lotto2 opened #5 "List of points -> polygon"
does GeoAPI provide some sort of function to create a polygon that contains all points in a list? goal is the smallest polygon that contains all points. something like ST_MakePolygon or ST_ConvexHull known from PostgreSQL.

if there is no single function, is there a way to get to the polygon in steps?

thankful for help...

[2015-01-31 15:43] DGuidi commented on #5
take a look at NTS: http://goo.gl/j0UcVY

[2015-01-31 15:43] #5 closed

[2015-02-02 16:18] Lotto2 commented on #5
Saluti DGuidi,

thanx for the hint, i applied this ConvexHull. result is this:

![noconvexhull](https://cloud.githubusercontent.com/assets/10242264/6003832/f038f768-aafe-11e4-94d4-be146a5f00ad.png)

indeed it is a polygon around the green points, but it is not the smallest possible polygon.

any further suggestions?

[2015-02-02 16:45] DGuidi commented on #5
[here](https://groups.google.com/forum/#!forum/nettopologysuite) for help

[2015-03-20 10:49] FObermaier opened #6 "Update ICoordinateSystemServices interface"
@becio has worked on an implementation for ICoordinateSystemServices interface, and it has proven to be not usable. His suggestion is this:

Here is a usable version:

[code]

[2015-04-28 06:24] FObermaier commented on #6
In cooperation with @becio I have modified/revised the ICoordinateSystemServices interface. (feac7f7a93095132e47c6a008895b7e927a20147)
Please comment, especially if there are implementations of the old interfaces.

[2015-04-28 06:41] DGuidi commented on #6
looks ok to me. I've take a look also to NTS repository and changes looks valid.

[2015-05-29 10:56] jcdekoning opened #7 "Nuget package PCL version"
Hello,

When will the PCL version of the GeoAPI be available as nuget package?

Johan

[2015-05-29 11:12] jcdekoning opened #8 "Suggestion: make two sets of interfaces - data and methods"
Hello,

I have a file with data as geojson. I want to load this in and do some operations on the data (for example checking if a point is inside a polygon) with the use of NTS. For reading in the geojson data I wanted to use  GeoJSON. Unfortunally it is not easy to convert (cast) the geometries from that library to the ones NTS is using.

Then I found this GeoApi project with its goal to make geo

[2015-05-29 11:38] pauldendulk commented on #8
Perhaps specific interfaces could be created for the parts that only hold data. The existing should then be split in a data part en a method parts which is derived from the data part.

[2015-05-29 11:48] FObermaier commented on #8
Why not use NetTopologySuite.IO.GeoJSON package.
It was derived from @jbatterman s GeoJSON-Net code a while back. It might not be fully in line with the current package, but you get NTS/GeoAPI geometries for free :)

The original GeoAPI package was derived from the GeoAPI java (some ancient 0.x version) package that has undergone some sort of standardization. That was a long time before I joined t

[2015-05-29 11:50] pauldendulk commented on #7
There is already a pcl version in the regular GeoAPI package. Profile147: portable-net403+sl5+win8+wp8+MonoAndroid+MonoTouch

[2015-05-29 11:51] FObermaier commented on #7
Have a look at https://github.com/NetTopologySuite/NetTopologySuite/issues/39

[2015-05-29 14:22] jcdekoning commented on #7
When I did nuget install-package I got this error

install-package : Could not install package 'GeoAPI 1.7.3.1'. You are trying to install this package into a project that targets 'portable-net45+sl50+win+wpa81+wp80', but the package does not contain any assembly references or c
ontent files that are compatible with that framework. For more information, contact the package author.

Probably a prof

[2015-05-29 16:17] DGuidi commented on #8
Actually, we (I) started with this goal, but then I switched to a simple(r) "abstraction" over NTS/JTS Geometry model.
Anyway, as @FObermaier said, it's straightforward to create some extension methids to converto from/to GeoJSON-Net objects.

[2015-06-11 12:53] petrpokorny opened #9 "GeoAPI 3.0 OGC standard"
Hey there - I am wondering if there is any plan to update GeoAPI.NET to GeoAPI 3.0 standard so that it will contain (for example) Feature-related interfaces and so on.(https://github.com/opengeospatial/geoapi/tree/master/geoapi/src/main/java/org/opengis/feature)

Thanks, Petr

[2015-06-11 15:11] DGuidi commented on #9
actually interfaces are defined in [NTS](https://github.com/NetTopologySuite/NetTopologySuite/tree/master/NetTopologySuite/Features), there's a plan (at least an idea) to move definitions to GeoAPI, maybe in a next iteration.
Features code it's very important and related to [SharpMap](http://sharpmap.codeplex.com/) too.

[2015-06-11 15:11] #9 closed

[2015-06-11 15:11] #8 closed

[2015-06-11 15:13] DGuidi commented on #6
@FObermaier can I close this issue?

[2015-06-25 13:14] FObermaier commented on #7
We'll be releasing a new version of GeoAPI/NTS with PCL assemblies targeting Profile 328.

[2015-09-30 20:17] petlof opened #10 "Problem with create a new DBF-file with DBaseFileWriter"
When using DBaseFileWrite to create a new DBF-file with NTS 1.13.4 some problems have occured that did not exist in earlier versions of NTS.

One problem is that I'm not able at all to create a DBF-file at all since the ValidateDataPath is set to true and the file that I'm trying to create of course does not exist.

Is it something wrong here:
https://github.com/NetTopologySuite/NetTopologySuite/b

[2015-09-30 20:20] jaundice commented on #10
yes it should be false

[2015-09-30 20:22] petlof opened #11 "WriteDummyDBF in WriteGeometryCollection Method"
Having some problems with my DBF-file is getting it's header overwritten when writing the collection of shapes to disk.
Found that it's actually a line in the WriteGeometryCollection-method that overwrites my DBF-file that I already have created.

I don't like this design since it's not clear for the one using NTS that the DBF-file needs to be written after the shape-file.
Shouldn't we add a check

[2015-09-30 20:23] petlof commented on #11
Maybe @FObermaier have some more comments about this

[2015-09-30 20:24] petlof commented on #10
Ok, I'll fix it..

[2015-09-30 20:27] petlof commented on #10
Ah, sorry, wrong Repo, should be in NTS..
Will add it there for tracing and history

[2015-09-30 20:27] #10 closed

[2015-09-30 20:27] jaundice commented on #11
I don't really like the dummy dbf writing, but it predates my changes and I didn't have time to restructure it.

[2015-09-30 20:31] petlof commented on #11
Moving the discussion to correct repo:
https://github.com/NetTopologySuite/NetTopologySuite/issues/56

[2015-09-30 20:31] #11 closed

[2016-02-13 19:53] netgrim opened #12 "Support for the M ordinates"
Is the support for the M ordinates is planned or I don't understand how it works

The coordinate.cs is the central class for a coordinate but what about having custom class like:

CoordinateXY
CoordinateXYZ
CoordinateXYM
CoordinateXYZM

[2016-02-15 08:30] DGuidi commented on #12
see [BasicCoordinateSequenceTest](https://github.com/NetTopologySuite/NetTopologySuite/blob/4881c1917a80a608eae057995f93e0742efc1310/NetTopologySuite.Tests.NUnit/Geometries/Implementation/BasicCoordinateSequenceTest.cs)

[2016-02-15 08:30] #12 closed

[2016-02-15 09:14] FObermaier commented on #12
@DGuidi: Coordinate does not have any M ordinates.
@netgrim:Support for M ordinates is provided via coordinate sequences (ICoordinateSequence). There are several implementations that can handle M ordinate values. The default (CoordinateArraySequence) does not.

[2016-02-15 09:19] DGuidi commented on #12
yep, fixed my comment to (try to) be more clear.

[2016-07-29 12:48] xivk opened #13 ".NET Core"
I added a new .NET core project:

https://github.com/NetTopologySuite/GeoAPI/tree/refactoring/netstandard

I added all the source files to this new project and made links to the source files in the regular .NET and PCL project.

What do you guys think? Is this ok to merge? Can someone update the build process and include this in the packages?

[2016-07-30 07:09] DGuidi commented on #13
+1 for integration. for build and nuget, maybe we can take a look also if/when NTS is .NET Core compliant.

[2016-07-30 07:11] DGuidi commented on #13
there are some problems with travis build. see #14

[2016-07-30 07:11] #13 closed

[2016-08-06 11:31] DGuidi opened #15 "Move code from GeoApi.Core project to GeoApi"
Other projects should use linked files

[2016-08-06 11:40] xivk commented on #15
I would have done it that way to begin with but the core project doesn't allow linked files.... this was the only option AFAIK

[2016-08-06 11:44] DGuidi commented on #15
ah, ok. we'll stick with this. no problem at all, I suppose.

[2016-08-10 07:37] stibay opened #16 "Migrating to .net core"
Hi.

I used to have this method to convert my coordinates to the right format.
How would you write this now?

[code]

[2016-08-10 08:38] DGuidi commented on #16
?

[2016-08-10 08:44] xivk commented on #16
If you previously use the PCL-version of the package nothing has changed... What's the problem exactly?

[2016-08-10 08:48] DGuidi commented on #16
At this time there isn't a ProjNet4GeoApi that targets .NETCore, so you must continue to use PCL or standard GeoAPI lib

[2016-08-10 08:48] #16 closed

[2016-08-10 08:49] #15 closed

[2016-08-10 08:57] xivk commented on #15
@DGuidi There is an alternative for this and that's migrating *everything* to the new project.json/xproj setup. This can be used to target different platforms in the same project. It would mean a lot cleaner code/project.

The disadvantage of this approach is that support in VS is not default, you need to install 'update 3' and .NET core tooling.

But I do think this is the best approach for GeoAP

[2016-08-10 09:04] DGuidi commented on #15
@xivk I think it's ok to create separate PCL+NET-Core+NET-Standard projects for ProjNET and NTS too.
But, honestly, this isn't a task I can effort now. Any contribution from you, or another volunteer, like the one with GeoAPI is well accepted.
-1 to remove PCL and NET-Standard projects.

[2016-08-10 09:46] xivk commented on #15
Not asking anyone to do the work and definetly not doing this right now just thinking about the future of these projects. I'll probably take on the work of porting NTS next...

My business directly depends on GeoAPI and NTS and I want to make sure I can keep depending on them. Something I would like to see is a way to create pre-release packages? I'll create a seperate issue to discuss this.

[2016-08-10 18:06] DGuidi commented on #15
I've created distinct issues in NTS and ProjNET, just to track this kind of work

[2016-09-07 08:13] Christoph142 opened #18 "Licenses missing"
The licenses are mentioned in the nuget packages, but those are very hard to find when searching for the license. You should add License files in the base directories.

[2016-09-07 08:16] Christoph142 commented on #18
I just realized they actually reside in a subfolder. They should be moved to the top. ;)

[2016-09-07 12:32] DGuidi commented on #18
I plan to close this issue, just because file is actually present.
Thanks in any case.

[2016-09-07 12:32] #18 closed

[2016-10-19 16:22] RegiSV2 opened #20 ".NET Core Nuget package"
Hello.

There is already a working .NET Core project for GeoAPI. Are there any chances of releasing a nuget package?

[2016-10-20 21:31] nickalbrecht commented on #20
I see there is a folder in the source for this, I'd love to get an official support for it in the Nuget package

[2016-10-28 00:55] skarllot commented on #20
I've created a pull request #21 which includes .NET Core library.

[2016-10-28 01:03] skarllot commented on #7
Actually current version is using Profile336 which (I think) closes this issue.

[2016-10-28 13:57] #7 closed

[2017-01-03 08:05] HarelM commented on #20
Does version 1.7.4 has this support in it?

[2017-01-16 15:50] DGuidi opened #22 "Travis build fails"
see [here](https://travis-ci.org/NetTopologySuite/GeoAPI)
something related with #21?

[2017-01-19 19:20] xivk commented on #20
This issue is blocking this issue:

https://github.com/NetTopologySuite/NetTopologySuite/issues/110

How can we more forward on this... anything I can do?

Once we have a GeoAPI package supporting netstandard we can move on with NTS. Do we also convert the netcore project here to VS2017 format, similar to what we decided for NTS.

[2017-01-20 07:35] DGuidi commented on #20
To be fair, I haven't VS2017 and a lot of ignorance about .netcore and .netstandard.
So basically I'm unable to give any kind of support.
I'm reluctant because of the additional complexity we can add to project, but if you will be provide support (and for support I mean CI-Travis integration, "legacy" plain .NET compatibility, etc...) for this stuff, we can proceed.

[2017-01-20 08:33] pauldendulk commented on #20
I think it must be done. It is the only way forward. Perhaps the new nuget tooling can help. There is [Nugetizer 3000](https://github.com/NuGet/Home/wiki/NuGetizer-3000) and perhaps Visual Studio 2017 has improved tooling. The free [community edition](https://www.visualstudio.com/vs/visual-studio-2017-rc/) is quite powerful.

[2017-01-20 08:36] DGuidi commented on #20
No bad feelings: I'm sure it must be done and I'm sure can offer a lot of added value.
Simply, I hope someone with the necessary skills and knowledge will grab this task and get things done.

[2017-01-20 08:45] xivk commented on #20
As I said before, I'm willing to put in the work but we have to agree more or less and I can't publish nugets.

I would say:

- Move GeoAPI to the new format, VS 2017 community edition is easy and fast to install.
- Adjust the build process, we should be able to just install the lastest netcore similar to what's there now.
- Publish nugets asap.

I would also recommend publish nugets more often, I

[2017-01-20 09:26] DGuidi commented on #20
I'd like to have some suggestions from @FObermaier too, that is actually the core maintainer of the project at this time. To me, I agree with all your suggestions.

I'f it's only a problem of credentials in nuget website, I can share this credentials with you (if @FObermaier agree, too).

[2017-01-20 10:32] HarelM commented on #20
I also have some time to invest in it if needed. I really want to try and migrate my site from .net 4.5 to .Net Core but for this to happen I need GeoApi, NTS, OSMSharp to be in .Net Core as well.

[2017-01-23 08:25] FObermaier commented on #20
1. I must admit that I'm not comfortable with targeting `"NETStandard.Library": "1.6.0"`.
This seems to be the fastest way to go, but it is the right way? Could we achieve a much broader coverage by investing time to let it target netStandard 1.0 or 1.1.
NewtonSoft.Json does it that way.

2. The state of the codebase in GeoAPI is a mess right now with all those folders for different project types

[2017-01-23 09:14] xivk commented on #20
netstandard 1.0 is already on it's way out and being replaced by netstandard 2.0 anyway, there aren't a lot of users using netstandard 1.0 and 2.0 will be supported almost everywhere. Supporting netstandard 1.6 will be the best option AFAIK and supporting 2.0 will be very easy once we've done this.

We need to move faster, I can't use NTS/GeoAPI in any of my latest projects or the libraries I publ

[2017-01-23 16:52] HarelM commented on #20
I have installed and ran VS 2017 over the weekend, I think it's safe to say it continues the csproj line of thought from earlier versions and it's stable enough to work with (and a lot shorter and editable, which is a huge plus).
@xivk I think either you or me should create a pull request with the relevant changes and the guys here will review it, have rejects and ping-pong it until it gets to the

[2017-01-24 09:28] xivk commented on #20
@HarelM The issue isn't a project for netcore because there is already one in master, for a couple of months even, the issue is that we can't do the same in NTS because there is no nuget package for it yet.

[2017-01-24 20:14] nickalbrecht commented on #20
It's worth noting that while VS2017 in in RC status, the .NET Core Tooling in it is actually only in alpha/preview if I recall. I am personally avoiding 2017 for .NET Core projects until the tooling catches up.

Also, I think targeting the earlier .NET Standards of 1.0 or 1.1 (similar to what was said above by @FObermaier) is the way to go (at least as a first step) unless something from later ver

[2017-01-24 21:34] HarelM commented on #20
I'm not sure I agree with both your claims.
It's like saying this library should be published in .Net 2.0 (not core) in order to support all .Net application in all versions. No one is developing application in .Net 2.0 now. If the current stable version at the time of migration is 1.6 then this should be the target version IMHO.

The main advantage of migrating ASP.NET web application to .Net cor

[2017-01-25 07:33] DGuidi commented on #20
What about to be more conservative in the official branch and made a single specific fork that targets this kind of issues/improvement like .net standard support and pre-release packages?
Keep the two repo in sync should be easy, I hope.
Can be this a viable solution?

[2017-01-25 08:07] DGuidi commented on #22
see #23

[2017-01-25 09:09] DGuidi commented on #22
fixed in #23

[2017-01-25 09:09] #22 closed

[2017-01-25 11:25] xivk commented on #20
Ok, lets agree then to:

- Target as low a netstandard version as possible.
- use the branching scheme to release pre-release packages:
  - master: always latest stable, same as now.
  - develop: always published to nuget with an increasing build number as prerelease

I also think we should build a matrix with what platforms we want to support, support now and how long we want to keep supporting t

[2017-01-25 11:40] xivk commented on #20
Was pretty easy, netstandard1.0 just works so that's good...

[2017-01-25 12:56] FObermaier commented on #20
[Must read](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-build)

[2017-01-25 19:08] nickalbrecht commented on #20
@HarelM I think you're missing my point. Looking at the project files for NTS and GeoAPI, they are both using .NET 4.0 Client profile by default. The lowest .NET Standard supports is 4.5. So even with using 1.0 it's still an increase in supported version of .NET. By using .NET Standard 1.1 or 1.3 and higher, you start to drop off support for some platforms. All I'm trying to say is that unless the

[2017-01-25 19:33] DGuidi commented on #20
NTS and GeoAPI targets also plain old 2.0, although I think that projects  for this is PCL version can be the start point.

----- Messaggio originale -----
Da: "Nick Albrecht" <notifications@github.com>
Inviato: ‎25/‎01/‎2017 20:08
A: "NetTopologySuite/GeoAPI" <GeoAPI@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>; "Comment" <comment@noreply.github.com>
Oggetto: Re: [NetTopologySuite

[2017-01-26 13:46] xivk commented on #20
I'm not following anymore, all I know is we now have GeoAPI (in the current state of the code) supporting:

- .NET 2.0
- .NET 3.5
- .NET 3.5 CE
- .NET 4.0
- .NET 4.0.3
- .NET 4.5
- PCL profile portable-net403+sl5+netcore45+wpa81+wp8+MonoAndroid10+XamariniOS10+MonoTouch10
- netstandard 1.0 (!)

What's holding us back? This is amazing, most of these platforms aren't even supported anymore and we are

[2017-01-26 14:24] DGuidi commented on #20
We're perfectly aligned, all platform you lister are the platform actually supported.
Probably (maybe?) PCL can be removed in favor of netstandard?

[2017-01-26 15:38] xivk commented on #20
Think we need to keep PCL for a while longer. If we want to remove stuff I would say remove .NET 2.0 - .NET 4.5 because .NET 4.0.3 and higher are supported by the PCL anyway and 2.0 and 3.5 are really really getting old.

On the other hand, it's not difficult keeping them around for now. I now:

- Fixed the build script for windows to build everything.
- Updated the nuspec for netstandard1.0
- Fix

[2017-01-30 08:06] FObermaier commented on #20
Thanks a lot for your effort @xivk .
I have tested the `build.bat` approach and it works fine. I have a couple questions.:
* Is it save to rename then .net core output to `GeoAPI.dll`. If not I think we should put some more effort in having the output named `GeoAPI.dll`.
* Do we have to include the `*deps.json` file in the package

[2017-01-30 08:38] xivk commented on #20
Hmm, not sure about the *deps.json, I don't include this in my other packages. Why should this be included? I do realize now that the nuspecs aren't 100% correct anymore, will correct this soon.

And yes, I don't see any issue with renaming to GeoAPI.dll, will try and do that too...

[2017-01-31 11:02] FObermaier commented on #20
1.7.5 prerelease tagged and published on nuget:
* https://github.com/NetTopologySuite/GeoAPI/releases/tag/v1.7.5-pre1
* https://www.nuget.org/packages/GeoAPI/1.7.5-pre1

[2017-01-31 14:24] HarelM commented on #20
Great!!! when can we expect a NTS .Net core package pre-release?

[2017-01-31 16:21] xivk commented on #20
@FObermaier 👍  Thanks a lot!

@HarelM Now I can get started on doing the same there...

[2017-02-03 09:07] FObermaier opened #24 "Envelope.Parse doesn't use NumberFormatInfo.InvariantInfo by default"
On e.g. machine with german locale `Envelope.Parse("Env[10.1 : 10.1, 10.1 : 10.1]");` results in `"Env[101 : 101, 101 : 101]"`

@DGuidi We should move/copy `Envelope` and `Coordinate` test to this project.

[2017-02-03 10:23] DGuidi commented on #24
+1 for move: probably parse need to be done using InvariantCulture

[2017-02-04 14:13] DGuidi commented on #24
made a fix, but you're right: test code for classes in GeoAPI projects should be moved hered

[2017-02-08 15:08] FObermaier commented on #24
Added

[2017-02-08 15:08] #24 closed

[2017-03-22 10:26] xivk commented on #20
Considering this closed for now, I still suggest cleaning up the project structure later this year.

[2017-03-22 10:26] #20 closed

[2017-08-17 17:23] xivk opened #27 "Assembly signing not supported on .NET Core"
Remove assembly signing or we will never have crossplatform development support. We can always sign the published dll's in the CI-server for the windows-only targets.

Feedback requested, from others @DGuidi @FObermaier

[2017-08-17 17:28] xivk commented on #27
Ignore previous comments, I can disable this per-platform.

[2017-08-17 17:28] #27 closed

[2017-08-17 17:28] DGuidi commented on #27
I always considered assembly signing a [PITA](http://www.urbandictionary.com/define.php?term=P.I.T.A), maybe we can simply get rid of it also in windows targets?
Anyway, removing signing in windows targets should be considered a breaking change, because signed dll's than cannot use NTS dlls anymore.

[2017-08-20 09:00] xivk opened #28 "Changes to the packages publishing and branching"
Similar to https://github.com/NetTopologySuite/NetTopologySuite/issues/179 but do those things here.

Already done:

- Added develop branch.
- Setup build (needs work).

TODO:

- [x] Change develop to the default branch.
- [x] Update README.

[2017-08-20 10:57] xivk commented on #28
**So here we now also have automatic package publishing on develop.** The same issue exists as with NTS:

- [ ] Hiding packages pre1-pre9 (the packages are still there, just not visible, searchable anymore but restoring them still works. Just saying this won't break anyones projects)
    **I don't have access to do this, who does? @DGuidi @FObermaier **
- [x] Republish starting from 006, already a

[2017-08-20 12:08] DGuidi commented on #28
I don't see pre006 package, hidden all 1.7.5 except 1.7.5-pre4

[2017-08-21 13:08] airbreather opened #29 "IEquatable<T> Is A Bad Idea On Unsealed Types"
`IEquatable<T>` exists for basically one purpose only: to avoid the **performance-related overhead** of casting + boxing/unboxing overhead of `object` when an instance of the type is stored in a hash-based collection.  Without the concern of performance, `bool Equals(object)` would be sufficient.  So if type `Foo` is expected to be used as the key in a hash-based collection, especially if it's a v

[2017-09-07 12:57] FObermaier commented on #29
I support the removal of `IEquatable<IGeometry>`, even though it has been there from the very beginning.
`IComparable<IGeometry>` deserves a seperate issue.

[2017-09-07 13:32] FObermaier opened #30 "Redesign GeoAPI"
If I understood @DGuidi correctly, `GeoAPI` started off by trying to implement some early [OGC - GeoAPI specification](http://www.opengeospatial.org/standards/geoapi).

Due to lack of resources it never got that far and instead it ended up as a mix of early GeoAPI (`CoordinateSystem` namespace ) along with a set of interfaces extracted from  early NetTopologySuite classes (matching JTS 1.7, iirc).

[2017-09-07 14:36] DGuidi commented on #30
I'd like to have a "core api" that is considered as standard (if used by EF.Core) and that GeoAPI extends.
Not sure it's a viable option in short times.

[2017-09-07 16:31] airbreather commented on #30
I suggest we start by enumerating the actual use cases that the redesigned GeoAPI should support (i.e., the different candidate implementations of the framework), as well as any other requirements we have (esp. re: JTS similarity), and then letting those drive the design.

I agree that a proper redesign would be an expensive effort.

[2017-09-08 08:02] xivk commented on #30
I agree we can do this as long as we don't change the purpose of GeoAPI to a library that contains entities for Entity Framework, I, and I'm guessing many others, never use ER-mappers.

If we can accomodate the usecase without:

- Adding a new dependency.
- Adding a dependency on a certain version the .NET framework that will block us in the future.
- Adding attributes to all the classes or someth

[2017-09-08 09:05] DGuidi commented on #30
Absolutely agree with this.
GeoAPI now is coupled with NTS implementation
EF.Core maybe can define it's own interface, and both (EF interface and GeoAPI) can share a simpler, cleaner and common interface.

[2017-09-08 11:26] airbreather commented on #30
This sounds similar to what @FObermaier originally opened with.  Is this something that anyone actually needs or even wants?  What applications would actually **use** this simpler "common" interface when they still need to take a dependency on either EF or GeoAPI anyway?  If nobody **uses** it, then it's wasted.

I admit that I haven't thought about this too much, but at the moment, I think that *

[2017-09-08 12:23] airbreather commented on #30
See also some discussion on dotnet/corefx#12034.

[2017-09-08 12:31] airbreather commented on #30
Also, wouldn't EF Core still need the things like `Union`, `Intersection`, etc., in order to be able to do their expression tree magic anyway?

[2017-09-15 08:15] HarelM opened #31 "Remove obsolete classes"
There are a few classes that I needed to implement and are now throwing warnings due to `obsolete` attribute.
Can these classes be removed if they are obsolete?
I'm talking especially about `ICoordinate` and `ICoordinate Transform(ICoordinate coordinate)` in `IMathTransform`.
Might be related to #30.

[2017-10-02 15:02] airbreather commented on #29
Note: the concerns here may intersect somewhat with locationtech/jts#159.

[2017-10-11 13:09] airbreather opened #32 "[Enhancement] Performance-Friendly IMathTransform Alternative"
The [`GeoAPI.CoordinateSystems.Transformations.IMathTransform`](https://github.com/NetTopologySuite/GeoAPI/blob/80a226dea4be4053bb35986eb4e9e46a40abe094/src/GeoAPI/CoordinateSystems/Transformations/IMathTransform.cs) API is sub-par.  Unless the implementer and consumer mutually agree on a protocol that would allow outputs to be pooled (which is stricter than what GeoAPI demands), it pretty much fo

[2017-10-11 16:09] DGuidi commented on #32
looks ok to me if we use simply doubles as you suggested.
if you're worried about breaking changes, maybe we can use Obsolete attribute to old methods and add documentation about why new methods are preferable.

[2017-10-12 14:40] airbreather commented on #32
Yeah, I'm mainly worried about breaking changes.

I think the reason why each point is either a `double[]` or a `Coordinate` is because `IMathTransform` might be intended to work with XYZ[M?] inputs.  So just passing in `ref double x, ref double y` isn't enough... but does it really make sense to pass in `ref double x, ref double y, ref double z, ref double m` when a significant fraction of caller

[2017-10-12 18:26] FObermaier commented on #32
For geocentric transformations you need the z-ordinate.
Just a thought:
As `ICoordinateTransformation`s and their `IMathTransform` objects are usually created using a factory method it should be possible to tweak the transformation chain to make a copy only on the first transform and then work on the input data.

[2017-10-13 13:25] airbreather commented on #32
Wouldn't that just contain the damage to "only" one allocation per point per call?

Yeah, something like that might be viable.  The problem with adding more stuff to an interface that's already been shipped is that everyone downstream of GeoAPI who implements that interface will have to add those methods.  There's a [proposal](https://github.com/dotnet/csharplang/blob/master/proposals/default-inte

[2017-10-13 14:16] FObermaier commented on #32
I don't know how familiar you are with the coordinate transformation steps in ProjNet[4GeoAPI], but is possible (and I supsect usual) to have a transition from 2D to 3D coordinates somewhere along the transformation chain (`GeocentricTransformation`).

So for this to work, I'd say we need one interface specifying both 2D and 3D functions. I think we can omit the measure value here:
[code]

Nonethe

[2017-10-13 15:19] #29 closed

[2017-10-13 15:59] airbreather commented on #32
Not necessarily.  That could just be a different interface to add to the list above:

[code]

Yeah, at least for compat, we'd need to keep the `double[]` stuff around.  The actual math stuff could move out into implementations of these new interfaces, though:

[code]

Yeah, it would definitely shake things up on the ProjNet4GeoAPI side, especially since I didn't put "reverse" methods on those samp

[2017-10-17 01:33] airbreather commented on #28
@xivk I sat down to go update the NTS side for 717719d, but it looks like the auto-builds for GeoAPI haven't been working.  The latest is `-pre4`.

[2017-10-17 12:26] airbreather commented on #28
I've made a `-pre006` manually, published it, and hid `-pre4`.

[2017-10-19 09:27] bastien-hofmann commented on #27
Hello,

Maybe I am missing something, but it seems that removing assembly signing from the .NET Standard version only is preventing to provide .NET Standard libraries referencing GeoAPI to .NET Framework projects referencing GeoAPI too.

I attached an example project to illustrate the issue:
[GeoApiSigningTest.zip](https://github.com/NetTopologySuite/GeoAPI/files/1397732/GeoApiSigningTest.zip)

I

[2017-10-20 14:46] xivk commented on #28
The automatic builds are working now, you can send me an email if you want access to the build server...

[2017-10-20 15:10] #28 closed

[2017-12-19 15:07] brennanfee opened #36 "Add a LICENSE file"
It looks like your intent was to license this with LGPL.  However, the LICENSE.MD file is blank.  You should populate the license file to be explicit about your intent and the rights retained by you and offered/compelled by your users.

[2018-01-03 03:16] airbreather commented on #30
I think the place to **start** for a redesign is to identify *who* the intended audience is, *what* they need from the library, and *why* the existing GeoAPI / NetTopologySuite is insufficient.  Personally, I'm not interested in spending any of my time trying to help start a new(ish) project without knowing at least those things.

The title of the linked CoreFX issue refers to a need for "SQL-Inde

[2018-01-03 03:16] airbreather commented on #30
(I'd mis-clicked "Close and Comment"... sorry about that, it wasn't my intention to close it.)

[2018-01-03 11:02] veikkoeeva commented on #30
I concur.

It could be I have expressed myself poorly as I just came from the referenced CoreFX thread and checked that this started with ideas, some of which being database agnostic -- and then later some more concrete design ideas.

and other discussion of spatial data types.

Basically I would like to observe (+1 if you will) what others had already also observed: dependency on database or EF s

[2018-01-03 13:55] airbreather commented on #30
This looks like something to evaluate.  Thanks.

There's a zillion and one ways you can persist a `byte[]` / `Span<byte>` / `ReadOnlySpan<byte>` that represents WKB, or a `string` / `Span<char>` / `ReadOnlySpan<char>` that represents WKT.  AFAIK, WKB and WKT contain all the information needed to describe any geometry that follows the OGC Simple Feature Access specs.

It sounds great to try to stan

[2018-02-27 13:39] FObermaier opened #37 "GeoAPI.CoordinateSystems nuget package"
I split up the `GeoAPI` package into `GeoAPI` and `GeoAPI.CoordinateSystems`.

We need to
- [x] rename `GeoAPI` to `GeoAPI.Core` package,
- [x] add `GeoAPI.CoordinateSystems` package and
- [x] add `GeoAPI` meta package

As @xivk  maintains the build server pushing the packages, could you please help doing that?

[2018-02-27 13:53] xivk commented on #37
Ok, no problem :+1:

I think just updating the nuspecs should be fine, i'll include GeoAPI.CoordinateSystems in the build.

Not sure on how to create a metapackage.

[2018-02-27 13:53] xivk commented on #37
Why the rename btw?

[2018-02-27 13:55] xivk commented on #37
GeoAPI.CoordinateSystems is now included in the build, should appear next time, the rename has to be done in the GeoAPI.nuspec file.

[2018-02-27 14:36] xivk commented on #37
Ah ok, that makes sense... if you can point me to whatever needs to be done for the meta-package then we're finished.

[2018-02-27 15:43] FObermaier commented on #37
I can see the packages now. Unfortunately they are not in sync.
They need to be build in this order:
1. `GeoAPI.Core`
2. `GeoAPI.CoordinateSystems` (relies on `GeoAPI.Core`)
3. `GeoAPI` (relies on `GeoAPI.CoordinateSystem` and thus on `GeoAPI.Core`)

[2018-02-27 15:52] xivk commented on #37
What do you mean in sync?

There is also an error now in one of the nuspec's:

`[pack] <dependencies> element must not contain both <group> and <dependency> child elements.`

If you make a useraccount on the [server](https://build.itinero.tech/) I can give you access to manage this.

[2018-02-27 15:53] FObermaier commented on #37
Seems to be resolved. Waiting for indexing to complete.

[2018-02-28 08:24] FObermaier commented on #37
@xivk, sorry to bother you but could you add publishing `GeoAPI.Core` to the nuget feed.
I fixed the other issues with the packages and could then push for version 1.75-pre018.
Btw, I registered at your build server.

[2018-02-28 09:00] xivk commented on #37
It's now building and pushing these three packages:

- GeoAPI.nuspec
- GeoAPI.CoordinateSystems.nuspec
- GeoAPI.Core.nuspec

I gave you admin access to all the NTS related projects (but not 100% sure if I configured it correctly).

[2018-02-28 12:53] FObermaier commented on #37
@xivk, thanks for the support on this one!

[2018-02-28 12:53] #37 closed

[2018-04-03 09:42] jhidding opened #38 "Building against NetCore 2.0 (netcoreapp2.0) on Linux"
Hi,
I managed, with some effort, to build GeoAPI for the netcoreapp2.0 target. I had to disable SignAssembly and remove Consts.Product from the AssemblyInfo. Unit tests passed. If you like I can create a pull request.
Cheers!

[2018-04-03 11:37] airbreather commented on #38
What advantages are there to adding a `netcoreapp2.0` target?  We already target `netstandard2.0`, which supports nearly everything we do except a couple of things that I [called out](https://github.com/NetTopologySuite/GeoAPI/blob/8635a94e7f795b1fa55021a379492b5778ae7f67/src/GeoAPI/GeoAPI.csproj#L92-L95) as not being actually all that desirable.

[2018-04-03 11:45] jhidding commented on #38
I don't know, I'm new to building C# apps. Indeed using target netstandard2.0 also works! However to also build the unittests I need to add netstandard2.0 to the targets. There is also an issue with signing the assembly, which only works on windows.

[2018-04-03 11:54] airbreather commented on #38
Our travis configuration uses mono for this part, in lieu of either making multiple .csproj files, multi-targeting the test project (which is insufficient to test all the combinations... we'd need something more like Microsoft/vstest#1013), or something else I can't think of quite yet... it's not 100% ideal, but maybe we could consider using .NET Core instead of .NET 4.5.

Are you using MSBuild or

[2018-04-03 11:55] jhidding commented on #38
I'm using `dotnet bulid`, I'll try `msbuild`. Thanks!

[2018-04-17 11:31] airbreather commented on #38
@jhidding any remaining difficulties with this one?

[2018-04-17 11:59] airbreather opened #41 "Add a way to bootstrap GeometryServiceProvider.Instance *only* if it's still uninitialized"
This is directly related to NetTopologySuite/NetTopologySuite#227, where I pointed this out in a [comment](https://github.com/NetTopologySuite/NetTopologySuite/issues/227#issuecomment-381361035).

When a downstream assembly implements GeoAPI, I expect that 99.99% of the time, that assembly has its own type that implements `IGeometryServices` and is expected to be the "go-to" implementation for tha

[2018-04-17 12:10] jhidding commented on #38
Sorry, had to work on some other things in the mean while. I'll try building MSbuild from source and go from there.

[2018-04-17 13:28] YohDeadfall commented on #41
Then you need an initialized instance first. So it would be better to have something like that:

[code]

[2018-04-17 13:58] airbreather commented on #41
You're right: it would have to look more like that if we settled on #39.  My snippet was just to get the idea on the table (it **should** be correct if we went with #40, though).

[2018-05-05 15:48] #41 closed

[2018-05-15 10:15] airbreather opened #43 "Get permissions from all contributors (at least all who have made significant changes) to agree to license change."
This is the GeoAPI version of NetTopologySuite/NetTopologySuite#238.  I'm assuming that people who have already given their consent on that issue are likely to give consent on this one, so I'm not going to immediately go through the effort of linking their individual commits.

Authors who seem to have made significant contributions (these are the only ones whom I will mention with @ where a GitHub

[2018-05-15 10:37] YohDeadfall commented on #43
Agree.

[2018-05-15 10:49] xivk commented on #43
Agreed.

[2018-05-16 15:14] skarllot commented on #43
Agreed

[2018-05-18 09:48] airbreather opened #45 "Relicense GeoAPI.Core under BSD3"
See also NetTopologySuite/NetTopologySuite#242

[2018-05-29 10:12] desruisseaux commented on #30
Hello

Just in case there may be some interest: I'm the current chair of the GeoAPI working group in the Open Geospatial Consortium (OGC). While GeoAPI 3.0 defined only Java interfaces, the intend is to be multi-languages. For GeoAPI 4, some Python abstract classes are under development. In the C/C++ world, GDAL/Proj just started a major effort for upgrading their API to something closer to OGC Ge

[2018-05-29 11:27] airbreather commented on #30
@desruisseaux when you say "port", it sounds like you're describing making a series of changes to the areas of this project, .NET GeoAPI, that overlap with areas covered by the ["true" OGC GeoAPI](https://github.com/opengeospatial/geoapi) to conform to the OGC GeoAPI 3.x / 4.x specifications.  Is this accurate?

If so, I'd be interested in helping out, though I can't commit to any particular timel

[2018-05-29 12:14] desruisseaux commented on #30
Yes, the proposal is that .NET GeoAPI interfaces that overlap OGC GeoAPI interfaces would be moved to the OGC namespace, then eventually modified for consistency with specifications. The "authoritative" specification is not that much OGC GeoAPI, but rather the ISO conceptual models behind them (ISO 19103, ISO 19115, ISO 19111). The scope of OGC GeoAPI specification is merely to adapt ISO specifica

[2018-05-31 20:20] bricelam opened #46 "Make IsWithinDistance an extension method"
It feels like this method doesn't belong on the interface. It could easily be implemented as an extension method.

[code]

[2018-05-31 20:26] airbreather commented on #46
JTS [has it](https://github.com/locationtech/jts/blob/95fbe34bec06050e78cdf26a3d7d0f657d28fdde/modules/core/src/main/java/org/locationtech/jts/geom/Geometry.java#L451-L471) on `org.locationtech.jts.geom.Geometry`, and I believe that the intent of `GeoAPI.Geometries.IGeometry` was to have everything that that has.

[2018-05-31 20:56] bricelam commented on #30
Howdy, I'm Brice from the EF Core team. I just wanted to add my two cents to this issue. (Sorry to fork the conversation.)

I would love to see GeoAPI able to describe and persist geometries. The ability to perform spatial operations in .NET is nice, but not essential. Ideally, users could opt-in to enabling client-side operations by installing NTS.

But to just peroform server-size queries, the G

[2018-05-31 21:02] bricelam commented on #46
Sure, but Java doesn't support extension methods... 😄

[2018-05-31 21:06] bricelam commented on #46
(And AFAIK JTS doesn't have separate interface definitions)

[2018-06-01 10:49] desruisseaux commented on #30
In order to separate the threads, I have created an issue on OGC GeoAPI for .NET interfaces: https://github.com/opengeospatial/geoapi/issues/35. I presume that a first step may be to revisit the build system and test it with one simple .NET interface.

[2018-06-01 13:07] FObermaier commented on #46
As pointed out in #30 I strongly support changing the GeoAPI interfaces to make them leaner and easier to actually implement them. Since the current set of geometry interfaces mirrors NTS classes their overall use is actually limited IMHO.

[2018-06-01 13:41] airbreather commented on #30
I've created [a project for this "2.0" effort](https://github.com/NetTopologySuite/GeoAPI/projects/1) with some initial ideas I've brainstormed about how it would look overall.

[2018-06-01 16:42] bricelam commented on #30
I eat my works. It [looks like](https://github.com/aspnet/EntityFrameworkCore/issues/1100#issuecomment-393641715) most EF Core customer *do* want client-side operations.

[2018-06-01 16:43] bricelam commented on #30
(But I still totally agree with this idea from an architectural perspective)

[2018-06-01 17:08] desruisseaux commented on #30
Sorry for my confusion; is the "project for 2.0 effort" about the standard interfaces, or about EF core? If this is about standard interfaces, then possible goals and non-goals could be:

Goals:
* Align on ISO 19103, ISO 19115, ISO 19111 and ISO 19112 models (for starting, more standards may be added later).
* (If contributors agree) incorporate above interfaces in OGC GeoAPI.

Non-goals:
* Standa

[2018-06-01 17:21] airbreather commented on #30
@desruisseaux It's intended to cover all the efforts that involve making breaking changes to the library to cover the different needs that have been pointed out so far, plus those that are sure to come up as EF Core, OGC GeoAPI, and perhaps others that I'm not aware of, all evaluate .NET GeoAPI as it exists today.

So EF Core, OGC GeoAPI, @FObermaier's wishlist that originally opened this thread,

[2018-07-03 20:11] bricelam opened #48 "Should ILineString include Count?"
It's [on LineString](https://github.com/NetTopologySuite/NetTopologySuite/blob/2022f0dbaa73269029622894982d95aad2e60bb5/NetTopologySuite/Geometries/LineString.cs#L473) (as an alias of `NumPoints`) but not the interface.

[2018-07-03 21:22] airbreather commented on #48
IMO it doesn't make sense to have two properties on the interface that are defined to mean the exact same thing.  It's also not on JTS's `LineString`, nor does it appear to have ever been there (though it's been on NTS's `LineString` since [as far back as the Git history goes](https://github.com/NetTopologySuite/NetTopologySuite/blob/b6f273231aa4931af92ac12cec7232b6d8f42cfe/NetTopologySuite/Geomet

[2018-07-03 22:50] bricelam commented on #48
Personally, I love having both. One to make it OGC-compliant (NumPoints) and one to make it .NET idiomatic (Count). It's a shame C# doesn't have extension properties yet...

[code]

[2018-07-03 22:51] bricelam commented on #48
Note, `IGeometryCollection` also has both `NumGeometries` and `Count`.

[2018-07-04 14:28] FObermaier commented on #48
It is in the block
[code]
which explains where it came from. It has been there ever since I worked with NTS, perhaps an attempt to .Net-ify the solution. I don't even know if GeoAPI has factored out of the project at that point in time.
@DGuidi?

In my opinion the comparison with `IGeometryCollection.Count` is not valid since `ILineString.NumPoints` returns the number of coordinates that make up t

[2018-07-11 16:20] FObermaier commented on #45
Fixed with 78fa363aa580b5c2c1d0682286304313b51539cd

[2018-07-11 16:20] #45 closed

[2018-07-11 16:21] FObermaier commented on #43
I declare this query closed

[2018-07-11 16:21] #43 closed

[2018-07-11 16:22] FObermaier commented on #38
Any update or can this be closed?

[2018-07-11 16:23] FObermaier commented on #36
Fixed with 12fc699689d74e770d79ccccffba37da5ea23078

[2018-07-11 16:23] #36 closed

[2018-07-11 16:36] #38 closed

[2018-07-11 17:59] kjeremy opened #50 "GeoAPI 1.7.4 to 1.7.5 broke come code"
After updating to GeoAPI 1.7.5 I now get the following errors:

[code]

[2018-07-11 18:02] airbreather commented on #50
I think 1.7.5 isn't binary-compatible with 1.7.4 because the coordinate system stuff was split out for licensing reasons.  If that's the case, then I would expect it to work after all your dependencies are recompiled.

[2018-07-11 18:08] kjeremy commented on #50
Hm. I did a clean and then a rebuild (and even explicitly added the `GeoApi.CoordinateSystems` package).

[2018-07-11 18:11] kjeremy commented on #50
Actually when I do a 'Peek Definition' it brings me to a file ProjNet4GeoAPI so maybe there's some interaction there.

[2018-07-11 18:13] airbreather commented on #50
Yeah, if I'm not mistaken and there is a binary incompatibility, the latest stable ProjNet4GeoAPI appears not to have anticipated it because its upper-bound on the GeoAPI dependency version is specified as 1.8.0.

[2018-07-15 04:02] Gonkers commented on #50
I've ran into this exact issue as well. For now I'm sticking with 1.7.4 until things get smoothed out.

[2018-07-16 08:41] FObermaier commented on #50
Could you try this package:
https://www.myget.org/feed/nettopologysuite/package/nuget/ProjNET4GeoAPI

[2018-07-16 14:38] Gonkers commented on #50
Using ProjNET4GeoAPI v1.4.0-pre014 made no difference for me.
![image](https://user-images.githubusercontent.com/8480646/42764670-3138a9d6-88e4-11e8-8505-05a925f691fa.png)

[2018-07-16 14:48] FObermaier commented on #50
@Gonkers could you show the csproj (esp. the geoapi reference part and the target framework) and the packages.config (if there is one).
I just set up a new project, added that reference and everything seems ok.

[2018-07-16 15:21] Gonkers commented on #50
Web.config
[code]
Packages.config
[code]

[2018-07-16 16:08] FObermaier commented on #50
You are mixing NTS 1.14 with GeoAPI 1.7.5.
 That is bound to fail. Try the IO packages from the myget stream where you got the ProjNET package from. They are bundled differently, though.

[2018-07-16 16:14] Gonkers commented on #50
Okay thanks for the suggestion. I'll try that.

[2018-07-27 17:55] bricelam commented on #48
I'm fine closing this. I just noticed it and wanted to make sure it was by design.

[2018-07-31 14:50] kjeremy commented on #50
@Gonkers did that work?
@FObermaier is there any way to make this work with the released packages on Nuget?  Having to add myget feeds isn't the greatest.

[2018-08-14 08:47] #48 closed

[2018-08-15 00:55] airbreather commented on #50
Should be fixed in the latest packages now, see NetTopologySuite/ProjNet4GeoAPI#31 for the test I ran.

Feel free to reopen if that didn't actually fix it for you.

[2018-08-15 00:55] #50 closed, assigned to airbreather

[2018-08-16 17:39] JeffSchwandt opened #51 "Is the GeoAPI 1.7.5 Nuget package missing dll's?"
When I update my solution to GeoAPI 1.7.5, my build breaks with dozens of missing references to GeoAPI.Geometries.
When I check the packages\GeoAPI.1.7.5 folder, all that is there is GeoAPI.1.7.5.nupkg.
Shouldn't there be a lib folder?

[2018-08-16 17:55] airbreather commented on #51
1.7.5 has split the GeoAPI package into two, the GeoAPI package has dependencies on the two new ones.

Try doing NuGet package restore again?

[2018-08-22 14:03] donnyv opened #52 "It looks like GeoAPI.Geometries.IGeometry.Intersection doesn't carry over data in the UserData property."
When I do an intersection. It seems that the UserData value doesn't get carried over in the output. I assign a unique id to every point to track it in the UserData property.

[code]

g.UserData <= becomes null

[2018-08-28 07:54] #6 closed

[2018-08-28 10:32] FObermaier commented on #52
Might be related to https://github.com/locationtech/jts/issues/292

[2018-08-28 14:01] FObermaier commented on #52
Might be solved by https://github.com/NetTopologySuite/NetTopologySuite/commit/d6b4f1589edb513d099e33aca08f425fed22a881

[2018-09-03 15:25] airbreather opened #53 "Remove GeometryServiceProvider.Instance"
This is somewhat related to #30, but that issue is very broad, so I wanted to give this its own arena for discussion.

`GeometryServiceProvider.Instance` isn't actually used anywhere in GeoAPI itself.  Its sole purpose seems to be a common point of reference for downstream consumers.

This sounds neat, but it creates some problems:
1. Downstream consumers need to set it themselves *somehow*, eithe

[2018-09-27 09:04] FObermaier opened #54 "Remove obsolete interfaces, classes and members"
The following interfaces, classes, enums or some of their members have been marked obsolete (for a long time)

Item | Reason
---- | ------
`ICoordinate` | Its use was a big performance hit.
`IEnvelope` | dito
`GeoAPI.Operation.Buffer.BufferStyle` | has been superceeded by `GeoAPI.Operation.Buffer.IBufferParameters`
`ICoordinateSequence.Reversed()` | not convorm with JTS
usage of `System.ICloneable

[2018-09-27 09:19] FObermaier opened #55 "Future of Coordinate class"
The former `Coordinate` class has been disected into four hierarchical classes:
* `CoordinateXY`
  * `CoordinateXYM`
  * `CoordinateXYZ`
    * `CoordinateXYZM`

Where applicable, the defined interfaces have been refactored to use `CoordinateXY` as coordinate class.
`Coordinate` class has received some conversion operators (implicit vice versa to `CoordinateXY` and explicit to `CoordinateXYZ`)

We

[2018-09-27 09:36] DGuidi commented on #55
my two cents:
CoordinateXY => Coordinate
CoordinateXYM => CoordinateM
CoordinateXYZ => CoordinateZ
CoordinateXYZM => CoordinateZM

[2018-09-27 10:43] airbreather commented on #54
`IEnvelope` and `BufferStyle` have been `Obsolete` for a while, too.

Members of some other types have been `Obsolete` for a long time, too, such as `Envelope.Overlaps`.

[2018-09-27 14:31] FObermaier commented on #52
Can this be closed?

[2018-09-27 14:33] FObermaier commented on #31
Follow up on #54

[2018-09-27 14:33] #31 closed

[2018-09-27 14:35] donnyv commented on #52
I never got a chance to test this.

[2018-10-26 16:57] bricelam commented on #53
Copying [some comments](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/pull/672#discussion_r227074635) here.

@bricelam said:

@roji said:

[2018-10-27 15:14] roji commented on #53
Just to add a few more comments, continuing the discussion with @bricelam cited above...

I *think* it may make sense to retain `GeometryServiceProvider.Instance`. As written above, the Npgsql ADO provider (not the EF Core provider) has no dependency injection of any sort. Now, I think the following are reasonable requirements from the Npgsql NTS plugin:

1. If the user hasn't indicated they're in

[2019-01-17 18:22] badre429 opened #57 "[question] Typescript definition for geoapi"
Using  NSwag to generate typescript api client for angular application
# question is there any javascript library with typescript definition that contains some standard functionality like (calculating distance between points , intersection ..)

[2019-02-12 11:53] airbreather opened #58 "CoordinateXY.CompareTo(object) is incorrect"
`CompareTo(object)` is incorrect; we're supposed to throw `ArgumentException` if the instances are of incompatible types.  Otherwise, there's no way to guarantee that `a.CompareTo(b)` and `b.CompareTo(a)` are always consistent with one another (which is a requirement for many sorting algorithms... see also NetTopologySuite/NetTopologySuite#260)

Copied from https://github.com/NetTopologySuite/GeoA

[2019-02-13 09:56] FObermaier commented on #58
Agreed.

For `CompareTo(object)` I propose to check for
* `null` => `ArgumentNullException`
* invalid type => `ArgumentException`

For `CompareTo(CoordinateXY)` we just check for
* `null` => `ArgumentNullException`

[2019-02-13 11:57] FObermaier commented on #58
Removing all checks and is-casts from the `CompareTo` method(s) would cause `NullReferenceException` to be thrown. This would be more like it is done in JTS, but I don't know if it is better.

[2019-02-13 13:58] airbreather commented on #58
This is, as I understand it, the idiomatic way to do it, so I agree.

I don't think that's better.  I strongly agree with throwing `ArgumentNullException` in cases where a `NullReferenceException` would be thrown otherwise.

[2019-02-13 14:25] airbreather opened #59 "Remove ICloneable implementations across the board"
`ICloneable` should not be exposed in public APIs.  The contract is ambiguous (deep or shallow? full or partial?), and so everybody downstream who relies on that interface (independently of, e.g., `IGeometry`) would need to know more specific details in order to be confident that the object will be cloned the way that they expect.

These "specific details" can come just as well from the contracts

[2019-02-14 14:00] #54 closed, assigned to FObermaier

[2019-02-14 14:00] #58 closed, assigned to nobody

[2019-02-15 12:06] #55 closed, assigned to FObermaier

[2019-02-15 12:09] #51 closed, assigned to nobody

[2019-02-15 12:12] FObermaier commented on #57
For this general question you may have more luck getting an answer on stackoverflow or similar sites.

[2019-02-15 12:12] #57 closed, assigned to nobody

[2019-02-15 12:44] #59 closed, assigned to nobody

[2019-02-25 14:39] airbreather opened #64 "Target just .NET Standard 2.0"
Multi-targeting the legacy platforms is an annoying limitation.

At some point, we should trim the targeted list down to just .NET Standard 2.0, both so that we have access to more APIs and to ease future maintenance.

[2019-03-03 12:03] airbreather opened #65 "Remove reflection-based GeometryServiceProvider.Instance bootstrap"
Incompatible and .NET Standard targets already don't use `GeometryServiceProvider.InitializeInstance`.

.NET Framework targets still do, for compat reasons.  Let's stop doing it there, too.

This issue is just for tracking purposes, because either #53 or #64 will resolve it automatically.

[2019-03-03 14:17] airbreather opened #66 "Improve collection parameter types in method signatures"
A few exposed methods have parameters of collection types that are more specific than they really need to be in order to fulfill the method's contract.

The ones I've found outside of `GeoAPI.CoordinateSystems`:
1. `ICoordinateSequenceFactory.Create(Coordinate[])`
1. `IGeometryFactory.BuildGeometry(ICollection<IGeometry>)`
1. `IGeometryFactory.CreateLineString(Coordinate[])`
1. `IGeometryFactory.C

[2019-03-03 15:10] airbreather opened #67 "Remove redundant interface members"
Every member defined on an interface represents an added cost to whoever is ultimately going to implement it.  Some of our interfaces have gotten *way* out of hand, and #30* seeks to help with that by  segregating the interfaces more so that the implementer doesn't have to account for **everything** under the sun.
- *looking at **just** the original issue, not what the comments turned it into

How

[2019-03-03 18:30] airbreather opened #68 "Replace notable interfaces with abstract classes, for multiple reasons"
As a sort-of alternative to #67, if we replace interfaces like `IGeometry` with abstract classes like `GeometryBase`, then we can provide a much better experience for implementers while still retaining the same essential API shape (without resorting to "tricks" to make almost-"default interface methods" happen).

I expect that this will be somewhat more work than #67 to get up and running, but I a

[2019-03-03 21:33] airbreather commented on #46
One drawback to doing it exactly as proposed is that it's impossible to short-circuit when:
- [the envelopes themselves are separated by a distance that's greater than the threshold](https://github.com/NetTopologySuite/NetTopologySuite/blob/62883a95f2063cb9f614c034b6a6ccff56d74357/NetTopologySuite/Geometries/Geometry.cs#L414-L416), or
- [during the full computation, we find two points that are les

[2019-03-04 05:04] bricelam commented on #46
One pattern we’ve used in the past is to have the extension method try to cast to an interface with a method of the same signature to allow implementers to provide an optimized version, but fallback to a slower default implementation.

[2019-03-04 05:07] bricelam commented on #46
But that may be overkill and leaving the method on IGeography may just be the pragmatic thing to do.

[2019-03-04 11:09] airbreather commented on #46
Yeah, I mentioned that pattern on #67... it seems like we ought to just bite the bullet and switch to abstract classes per #68, though, if we can find the time to do so.

[2019-03-04 13:40] #64 closed, assigned to nobody

[2019-03-04 14:16] airbreather commented on #65
Resolved by 5f37541

[2019-03-04 14:16] #65 closed, assigned to nobody

[2019-03-04 14:47] airbreather opened #69 "Reconsider use of SerializableAttribute"
[`[Serializable]` on its own is easy, but it has problems](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/serialization/#basic-serialization): versioning, lack of control, and fields are opt-out.

If we're going to keep supporting serialization / deserialization for instances of our types, then I recommend that we at least implement `ISerializable` (with `(SerializationI

[2019-03-06 14:20] FObermaier commented on #32
A solution without a whole bunch of new interfaces would be
* Add `void Transform(ref double[] xy, ref double[] z)` to the `IMathTransform` interface and implement it. xy is an array like `new []{x0, y0, x1, y1, ... xn, yn}`, z is `null` or an array like `new double {z0, z1, ... zn}`
* Add abstract `RadiansToMeters(ref double[] lonlat, ref double[] alt)` and `MetersToRadians(ref double[] xy, ref d

[2019-03-06 15:06] airbreather commented on #32
Including Zs in the interface sounds like a good idea overall.

Small tweak: `ref DoublePair[] xy` / `ref DoublePair[] lonlat`

`DoublePair` would be:
[code]

usage:
[code]

However maybe it should also allow for SoA layouts?  `void Transform(double[] xs, double[] ys, double[] zs)` has the potential to be faster (see benchmarks I did [over here](https://github.com/airbreather/AirBreather.Projectio

[2019-03-06 16:00] airbreather commented on #32
To put it a bit more precisely what I'm currently thinking of:
[code]

There could, of course, be methods that work with arrays of `{x0, y0, z0, x1, y1, z1, ..., xn, yn, zn}` or something as it suits us... perhaps something with measures too in case we want to avoid copying for a `PackedDoubleCoordinateSequence` with `Dimension = 4` / `Measures = 1`.

[2019-03-07 11:58] FObermaier commented on #32
Please have a look at https://github.com/NetTopologySuite/ProjNet4GeoAPI/tree/perf/Transform_with_Span

[2019-03-07 14:14] airbreather commented on #32
Main things that stand out to me (ignoring smaller things I would identify for a "real" PR):
- Why `ref Span<T>`?  Just `Span<T>` should be fine... letting the callee overwrite the entire span at once seems strange, and I can't think of any important use cases that this enables.
- I personally favor accepting `ReadOnlySpan<T> inputs` / `Span<T> outputs`; not all callers will want to transform in-p

[2019-03-07 14:18] airbreather commented on #32
(@FObermaier I've pushed a change to let it build on other people's machines and to remove the junk that was only needed when we were multi-targeting).

[2019-03-08 14:24] airbreather commented on #32
NetTopologySuite/ProjNet4GeoAPI#42

[2019-03-13 08:12] FObermaier commented on #69
I don't know if anyone relies on [Serializable], but removing it here implies we remove it / change it in NetTopologySuite as well.

Nobody has yet yelled that the way it is implemented now imposes any problems.

[2019-03-13 08:32] FObermaier commented on #68
I object to any changes related to
* ICoordinateSequence
* ICoordinateSequneceFactory

as these are core interfaces in JTS. Thus it puts an additional effort to port changes made in NTS.

If we lay hand on redesigning GeoAPI I'm in strong favor of removing all `IGeometry` interfaces or and instead come up with a set of interfaces / base classes that
* just define the components that make up the ge

[2019-03-13 08:33] FObermaier commented on #67
Side note: I personally like the `Ordinate` and `Ordiantes` enums more than `HasZ` and `HasM`.

| Interface | Annotation |
|:----------|:---------|
| `ICoordinateBuffer` | Is [used here](https://github.com/NetTopologySuite/NetTopologySuite.IO.SqlServer2008/blob/master/NetTopologySuite.IO.SqlServer2008/Geometries/CoordinateBuffer.cs). Used to be in a `NetTopologySuite.IO` library for reuse in Shape

[2019-03-13 11:50] FObermaier commented on #66
Did you just look at the interfaces or the implementations as well?
There may well be some unexpected drawbacks. Other than that I'm fine for all, but for `IMathTransformFactory.CreateAffineTransform(double[,])`. The input is not just a sequence of doubles, it is a matrix.

[2019-03-15 13:20] airbreather commented on #68
Sorry for the long comment, I don't have the time to write a short one and I wanted to address all your points without sounding dismissive or combative.

I disagree on this point, specifically.

For one, Java has default interface methods, and JTS has recently decided to start actually using them in exactly these interfaces.  This feature is a long way off from being something we can use in GeoAPI

[2019-03-15 14:21] FObermaier commented on #68
There would be no `IUsefulGeometry` interface just NTS `Geometry` classes implementing `IGeometryDefiniton` or whatever it is named.

EF would have to use NTS `Geometry`, afterall JTS doesn't have this set of `IGeometry` interfaces.
We could extent `GeometryFactory` to have some `Create(IGeometryDefinition gd)` overload.
That'd be it.

As I said, `IGeometryDefinition` would include all members of

[2019-03-16 12:36] airbreather commented on #68
I'm intrigued, but this stands out to me:

My concern, which I attempted to telegraph in my choice of the name `IUsefulGeometry`, is that it wouldn't just be EF: in practice, I feel nearly **everybody** would have to use NTS `Geometry` (and with today's field of implementations, I'm certain that it's already a distinction without a difference).  `IGeometryDefinition` on its own just doesn't seem u

[2019-03-18 11:58] airbreather commented on #69
NetTopologySuite/NetTopologySuite#295

It's something extra to maintain / support and something extra to think about when adding fields to types that are tagged this way.  We don't have test coverage of it (at least not in GeoAPI), so there's nothing to validate that it's actually working.

If we can't quite identify the value that it's adding, then it looks like deadweight, and therefore it seems

[2019-03-18 12:40] airbreather commented on #66
Primarily the interfaces.  I'm not particularly worried about unexpected drawbacks in GeoAPI; the intent here is to minimize the extra hoops that callers need to jump through in order to use these interfaces (mainly thinking about things like LINQ).

If this harms an actual implementation in some way beyond having to sprinkle in that "move semantics" workaround I posted, then the implementation an

[2019-03-27 13:13] airbreather opened #70 "Remove (standalone) GeoAPI"
After https://github.com/NetTopologySuite/GeoAPI/issues/68#issuecomment-473526560 I've been thinking hard about this, and the more I do, the more confident I feel in saying that standalone GeoAPI feels like a solution in search of a problem.

As I mentioned in that linked comment, maintaining GeoAPI as a standalone thing means maintaining a separate Git repository, complete with its own separate G

[2019-03-27 14:13] FObermaier commented on #70
Most of this belongs to `ProjNet`, and it is also a use case for GeoAPI:
* `IMathTransform.Transform(Coordinate)`,
* `IMathTransform.Transform(ICoordinateSequence)`

Not that this could not be handled differently, though.

I also did think about some use-cases for geometry definition without actual topological functionality:
* reprojection service
* plain map rendering

The question however is, wo

[2019-03-28 10:38] FObermaier commented on #70
After having thought about it a bit more, a candidate for a limited `IGeometryDefinition` might be the folks at DotSpatial. It could lift the burden of having to update their private copy of `NetTopologySuite` every once in a while.

Thats why I invite @danames and @jany-tenaj to comment.

[2019-03-28 11:36] airbreather commented on #70
I did touch on SharpMap in the other comment:

---

Wouldn't you still need to ensure valid topology after the transformation in order to do it correctly?

---

This is what sent me off on this thread.  I doubt it.

---

As it pertains to this specific issue, it looks like they are very much using the NTS algorithms ([this](https://github.com/DotSpatial/DotSpatial/blob/2c2302778278e61a01143b1ea6c8

[2019-03-28 15:12] danames commented on #70
Hey guys, thanks for thinking about our project as you make these changes
to NTD.  I’m going to defer to @jany-tenaj As my teaching and research low
lately has kept me from making many contributions or edits to the core of
DotSpatial.  Though I continue to use it in my projects and benefit from
the updates that the rest of the team are making :-) Dan

On Thu, Mar 28, 2019 at 5:36 AM Joe Amenta <no

[2019-03-29 09:20] jany-tenaj commented on #70
I have to say when I switched the code to NTS I was wondering what GeoAPI was good for. It felt senseless to have to go there to have to look there for some of the files while most where in NTS.

Not sure whether this IGeometryDefinition would be good for us. Basically I cloned your code to get M/Z into it, because when I tried to use our own ICoordinateArraySequence (if I remember correctly) for

[2019-04-02 08:37] FObermaier commented on #70
Now, as there does not seem to be much support for standalone GeoAPI, let's do as @airbreather suggested:
1. Put this Repository in maintenance mode
2. Move GeoAPI classes/structs/interfaces to their respective projects (NTS/ProjNet)
3. Eliminate interfaces that are not part of JTS, mainly `IGeometry` et. al.

[2019-04-02 11:31] jany-tenaj commented on #70
@FObermaier If you remove IGeometry what will we get instead? Just asking because we use IGeometry quite a lot.

[2019-04-02 12:13] DGuidi commented on #70
GeoAPI started as an attempt to make [this](https://github.com/opengeospatial/geoapi) in .net code, but faster I realized that the effort was too big for my time and knowledge, and I thinked that eventually can be useful to have an "interface layer" that hides actual NTS implementation, even if actually GeoAPI interfaces matches closely NTS implementations, just because of [program to an interface

[2019-04-03 06:08] FObermaier commented on #70
You have the abstract `Geometry` class and the specific classes `Point`, `LineString`, `Polygon`, their `Multi...` variants and `GeometryCollection`.

[2019-04-03 11:34] airbreather commented on #70
@DGuidi thank you for providing the context and for challenging me to respond with more justification on this big change.

OGC GeoAPI 3.0.1 doesn't specify **much** that's relevant to NTS Core, but some relevant stuff it *does* specify is significantly different from what's currently in JTS.

Our `Coordinate`, for example, **seems** to match OGC GeoAPI's `DirectPosition`, which in OGC GeoAPI needs

[2019-04-06 12:03] airbreather commented on #70
`NetTopologySuite.CoordinateSystems.Transformations.GeometryTransform` is a reason I called out the `NetTopologySuite.CoordinateSystems` project... that could probably move into ProjNet4GeoAPI too?

[2019-04-06 16:05] airbreather commented on #53
The idea behind this one is that I expect everybody who currently uses `GeometryServiceProvider.Instance` to fall into at least one of two categories (probably often both):
1. They would be better off using an implementation of [IoC](https://docs.microsoft.com/en-us/dotnet/standard/modern-web-apps-azure-architecture/architectural-principles#dependency-inversion) that's already available in their c

[2019-04-08 10:56] FObermaier commented on #53
With `GeoAPI` merged into NetTopologySuite there is no reason to have two public instances of `IGeometryServices`.

[2019-04-09 12:46] #53 closed, assigned to nobody

[2019-04-09 12:47] airbreather commented on #70
Oops I was kinda hoping I couldn't entirely resolve this issue from a commit in a different repository, since there's still the coordinate system stuff.

[2019-04-10 12:18] airbreather commented on #68
As suggested in https://github.com/NetTopologySuite/GeoAPI/issues/70#issuecomment-478899698, now that `NetTopologySuite.Core` has absorbed everything from `GeoAPI.Core`, I'm removing the following interfaces, limiting this first round to just the ones that should be uncontroversial because JTS uses classes instead (all in the `NetTopologySuite.Geometries` namespace):

1. `ICurve`
1. `IGeometry`
1.

[2019-04-10 14:08] airbreather commented on #68
## `NetTopologySuite.Operation.Buffer.IBufferParameters`

This was copied straight from GeoAPI.Core, whereas its implementation has been living in NTS.Core.

I'm guessing that it's fine to just use the class directly since that's what JTS does (it doesn't have this interface), and it looks like it was only in GeoAPI.Core to avoid having the full implementation live there, but I wanted to make sure

[2019-04-17 11:33] airbreather commented on #68
## `NetTopologySuite.Geometries.ICoordinateSequence/Factory`

This partly relies on my reasoning in NetTopologySuite/NetTopologySuite#311.  We can resolve that, without much grief on the part of implementers, by having the base classes handle making sure that everything's self-consistent, with the subclasses only being responsible for implementing the JTS-like side of the equation.

This also ties

[2019-05-21 12:42] airbreather commented on #68
re: this issue, I'm now satisfied with everything in the NTS project that used to be in `GeoAPI.Core`.

Apparently, I didn't include anything from `GeoAPI.CoordinateSystems` in either this or #67, so I'll close these issues now and reconsider what makes sense once #32 is done.

[2019-05-21 12:42] #68 closed, assigned to nobody

[2019-05-21 12:42] airbreather commented on #67
We did #68 instead.

[2019-05-21 12:42] #67 closed, assigned to nobody

[2019-07-23 12:21] airbreather commented on #70
- renamed branch `develop` to `v2-aborted/develop`
- renamed branch `v1/develop` to `develop`
- renamed branch `v1/master` to `master`
- unlisted all 2.x prereleases on NuGet

Looks like this is done.

[2019-07-23 12:21] #70 closed, assigned to nobody

[2019-11-11 19:59] yjacques940 opened #71 "support .NET core 3.0"
We recently upgraded to dotnet core 3.0. We need GeoAPI in our api. We actually need this feature as fast as possible, to deploy in production.

What's needed :
- Make the GeoAPI compatible with .net core 3.0

Please answer me when i'ts done.
Thanks

[2019-11-18 13:25] airbreather commented on #71
GeoAPI is compatible with .NET Core 3.0.

Entity Framework Core 3.0 uses NetTopologySuite 2.x, which no longer uses GeoAPI.  ProjNet4GeoAPI 2.x no longer uses GeoAPI either (so we now use the ProjNet package on NuGet).

We have no plans to continue updating GeoAPI to 2.x or above.  The interesting parts of GeoAPI moved to NetTopologySuite / ProjNet4GeoAPI, and the rest went away.

[2019-11-21 13:49] yjacques940 commented on #71
Good, Thank you!

[2019-11-21 13:49] #71 closed, assigned to nobody

[2022-02-26 19:37] mathias13 opened #72 "Serialization BUG"
I've got an application where i serilaize a struct with an array of Coordinates. Here is a simple example.
[code]
If i run this i get stuck in an infinite loop with a output like below.
[code]
I have tested to change Coordinate.cs

Line 134
[code]

Then i get this XML
[code]
The problem is that  System.Xml.Serialization assembly is only available from v4.5 so it wont build with the rest of the fra